<style>
    :host {
        display: inline-block;
        --spacing: 0.75em;
        --button-padding: 0.5em;
        --roundness: 1em;
        --highlight: #e60012;
        --highlight-text: white;
        --depth: 0.15em;
        --padding-factor: 1;
        margin-block: 1em;
    }

    #kbd {
        border: 2px solid black;
        border-radius: var(--roundness);
        box-shadow: var(--depth) var(--depth) black;

        button {
            font-family: monospace;
            font-size: 1em;
            font-weight: bold;
            padding: calc(var(--button-padding) * var(--padding-factor))
                calc(var(--button-padding) * var(--padding-factor) * 2);
            border: 2px solid black;
            border-radius: 0;
            outline: none;
            aspect-ratio: 1 / 1;
            box-shadow: var(--depth) var(--depth) black;
            margin: 0.25em;

            &.active {
                background-color: var(--highlight);
                color: var(--highlight-text);
                box-shadow: none;
                top: var(--depth);
                left: var(--depth);
                position: relative;
            }
        }
    }

    #shoulder-buttons {
        margin: var(--spacing);

        .shoulder-button-row {
            display: flex;
            button {
                flex-grow: 1;
                aspect-ratio: 0;
            }
            [name="bumper-left"] {
                border-top-left-radius: 0.75em;
            }
            [name="bumper-right"] {
                border-top-right-radius: 0.75em;
            }
            [name="trigger-left"] {
                border-bottom-left-radius: 0.75em;
            }
            [name="trigger-right"] {
                border-bottom-right-radius: 0.75em;
            }
        }
    }

    #trigger-shoulder-buttons.shoulder-button-row {
        display: none;
    }

    :host(.layout-4-shoulder-buttons) #trigger-shoulder-buttons {
        display: flex;
    }

    #face {
        margin: var(--spacing);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #face-buttons {
        rotate: -15deg;
        margin: 0 0.5em;

        .face-button-row {
            display: flex;
            border: 1px solid #999;
            padding: 0.2em;
            border-radius: 10em;
            margin-block: 0.3em;
            button {
                border-radius: 10em;
            }
        }
    }

    #top-face-buttons.face-button-row {
        display: none;
    }

    :host(.layout-4-face-buttons) #top-face-buttons {
        display: flex;
    }

    #d-pad {
        border-collapse: collapse;
        margin: 0.25em;

        button {
            margin: 0;
            --padding-factor: 0.75;
        }

        td {
            padding: 0;
        }
    }
</style>
<div id="kbd">
    <div id="shoulder-buttons">
        <div id="bumper-shoulder-buttons" class="shoulder-button-row">
            <button data-pad-id="4" data-kbd-key="l" name="bumper-left"><kbd>L</kbd></button>
            <button data-pad-id="5" data-kbd-key="r" name="bumper-right"><kbd>R</kbd></button>
        </div>
        <div id="trigger-shoulder-buttons" class="shoulder-button-row">
            <button data-pad-id="6" data-kbd-key="t" name="trigger-left"><kbd>T</kbd></button>
            <button data-pad-id="7" data-kbd-key="z" name="trigger-right"><kbd>Z</kbd></button>
        </div>
    </div>
    <div id="face">
        <table id="d-pad">
            <!-- 
            ← → ↑ ↓
            ⬁ ⬀ ⬂ ⬃ ⇦ ⇨ ⇧ ⇩ 
            ⇧ ␣
            -->
            <tr>
                <td></td>
                <td>
                    <button data-pad-id="12" data-kbd-key="ArrowUp" name="dpad-up"><kbd>↑</kbd></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button data-pad-id="14" data-kbd-key="ArrowLeft" name="dpad-left"><kbd>←</kbd></button>
                </td>
                <td></td>
                <td>
                    <button data-pad-id="15" data-kbd-key="ArrowRight" name="dpad-right"><kbd>→</kbd></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button data-pad-id="13" data-kbd-key="ArrowDown" name="dpad-down"><kbd>↓</kbd></button>
                </td>
                <td></td>
            </tr>
        </table>
        <div id="face-buttons">
            <div id="top-face-buttons" class="face-button-row">
                <button data-pad-id="2" data-kbd-key="x" name="face-west"><kbd>X</kbd></button>
                <button data-pad-id="3" data-kbd-key="y" name="face-north"><kbd>Y</kbd></button>
            </div>
            <div id="bottom-face-buttons" class="face-button-row">
                <button data-pad-id="0" data-kbd-key="a" name="face-south"><kbd>A</kbd></button>
                <button data-pad-id="1" data-kbd-key="b" name="face-east"><kbd>B</kbd></button>
            </div>
        </div>
    </div>
</div>
