#field {
    width: 440px;
    height: 300px;
    background-color: #aabb99;
    position: relative;

    & > * {
        position: absolute;
    }
}

.bunker {
    width: 40px;
    height: 40px;

    &.friendly {
        background-color: #330099;
        &.move-here {
            &::before {
                content: "🏃‍♂️";
                border: 4px solid aqua;
            }
        }
    }
    &.enemy {
        background-color: #bb3300;
        &.aim {
            &::before {
                content: "👁";
                border: 4px solid white;
            }
        }
        &.pew-pew {
            &::before {
                content: "💥pew 💥pew";
                border: 4px solid yellow;
                color: yellow;
                font-size: 0.5em;
            }
        }
    }

    &.aim,
    &.pew-pew,
    &.move-here {
        &::before {
            content: "";
            font-size: 1em;
            text-align: center;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

#player {
    background-color: #32cd32;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;

    &::before {
        content: "P";
        display: block;
        text-align: center;
        margin: auto;
    }

    transition: left 0.5s ease-in-out;
}
