.selected {
    background-color: red;
    color: white;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
}

#playing-field {
    --grid-width: 10;
    --grid-height: 10;
    --grid-cell-size: 40;

    --grid-cell-size-px: calc(1px * var(--grid-cell-size));
    --grid-color: #40904050;

    position: relative;
    width: calc(var(--grid-width) * var(--grid-cell-size-px));
    height: calc(var(--grid-height) * var(--grid-cell-size-px));
    border: 1px solid #3a9;
    background-color: #ab9;

    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);

    div {
        position: absolute;
        box-sizing: border-box;
        width: var(--grid-cell-size-px);
        height: var(--grid-cell-size-px);
    }

    [data-block="bunker"] {
        background-color: #930;
    }

    [data-block="position"] {
        background-color: white;
        border: 1px solid black;
        border-radius: 100%;
        width: calc(var(--grid-cell-size-px) * 0.8);
        height: calc(var(--grid-cell-size-px) * 0.8);
        margin: calc(var(--grid-cell-size-px) * 0.1);

        &.active {
            background-color: limegreen;
            color: white;
            display: flex;
            &::before {
                display: inline-block;
                content: "P";
                margin: auto;
            }
        }
    }

    [data-block="player"] {
        background-color: white;
        border: 1px solid black;
        border-radius: 100%;
        width: calc(var(--grid-cell-size-px) * 0.8);
        height: calc(var(--grid-cell-size-px) * 0.8);
        margin: calc(var(--grid-cell-size-px) * 0.1);
        background-color: limegreen;
        color: white;
        display: flex;
        &::before {
            display: inline-block;
            content: "P";
            margin: auto;
        }
    }

    [data-block="enemy"] {
        background-color: white;
        border: 1px solid black;
        border-radius: 100%;
        width: calc(var(--grid-cell-size-px) * 0.8);
        height: calc(var(--grid-cell-size-px) * 0.8);
        margin: calc(var(--grid-cell-size-px) * 0.1);
        background-color: red;
        color: white;
        display: flex;
        &::before {
            display: inline-block;
            content: "E";
            margin: auto;
        }
    }
}
